.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-container h2 {
  color: #9c1821;
  margin-bottom: 30px;
  font-size: 2rem;
}
